.body {
    background-color: #27A2D9
}

.header{
    text-align: center;
    .header img {
        margin-bottom: 20px;
    }
}

.grid_produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
    padding: 15px;
}

.grid_produtos article {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#3193c0;
}

.grid_produtos article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: joining linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.footer {
    gap: 15px; 
    padding: 15px;               
    margin: 0 15px;              
    background: #3193c0;
    box-sizing: border-box;     
}