.grid_produtos {
    box-shadow: var(--box-shadow-card);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
}

.grid_produtos h2 {
    grid-column: 1 / -1;
}

.grid_produtos article a {
    text-decoration: none;
}

.grid_produtos article {
    background: var(--color-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.grid_produtos article img {
    animation-range: entry 10% cover 30%;
    animation-timeline: view();
    animation: joining linear both;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
